---
import Layout from '../../layouts/BlogPost.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import BaseHead from '../../components/BaseHead.astro';
---

<head>
	<BaseHead title="Caelum Anonymous" description=""/>
</head>
<Header style="z-index: 2;"/>
<main style="z-index: 4;">
	<div class="middle-content">
		<h1  style="color: white; font-weight: bold;">
			<img class="large-image" src="../caelumanonymous.png"/>
		</h1>
		<p class="Glitched-Background kakomiA-font" style="font-size: 5em;">Heaven is Now</p>
		<br/>
	</div>
</main>
<Footer style="z-index: 2;"/>
<style>
	main {
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: auto;
		min-height: 450px;
		width: 100vw;
		color: white;
		font-size
	}
</style>