---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="center">
				<img src="sanctumlogo.gif"/>
			</div>
			<br/>
			<p>
				Hello, and welcome to the Sanctum.
			</p>
			<p>
				This is the official site of <a href="https://github.com/Lukkex">Lukkex</a>; I am also well-known by the name of Kaiju, or <code>K4IJU</code>. Here, you may find
				a collection of my art pieces, coding projects, philosophical works, and more. 
			</p>
			<p>
				In the near future, I intend on adding a chatroom side to this site, known by the name of 
				<code>Caelum Anonymous</code> <br/>(Below, you can see my planned logo for it).
			</p>
			<div>
				<img class="smaller-image" src="caelumanonymous.png"/>
			</div>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
