---
import HeaderLink from '../components/HeaderLink.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Vine from '../components/svg/Vine.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="rainbow-vines">
		<Header />
		<main>
			<div class="center">
				<img src="sanctumlogo.gif"/>
			</div>
			<br/>
			<p>
				Hello, and welcome to the Sanctum.
			</p>
			<p>
				This is the official site of <code>K4IJU</code>. Here, you may find
				a collection of my art, coding projects, philosophical works, and more.
			</p>
			<br/>
			<hr/>
			<br/>
			<p>WIP & upcoming pages to this site:</p>
			<br/>
			<div class = "centering-container-noflex">
				<div class = "CaelumTitle"><p><HeaderLink href="/caelum" class="BW-right ItemTitle">Caelum Anonymous</HeaderLink></p><p class="BW-right">A chatroom side to this website</p></div>
				<br/>
				<div class = "MandalaTitle"><p><HeaderLink href="/mandala" class="Rainbow-right ItemTitle">The Mandala</HeaderLink></p><p class="Rainbow-flash-slow">A psychedelic experience [EPILEPSY WARNING]</p></div>
				<br/>
				<div class=" GardenTitle"><p><HeaderLink href="/garden" class="Green-right ItemTitle">Garden Sanctuary</HeaderLink></p><p class="Green-right">A spiritual experience</p></div>
			</div>
			<br/>
			<br/>
			<hr/>
			<p>Current / upcoming projects:</p>
			<br/>
			<ul>
				<li>I have been (for the better part of a couple years) been working on my <code>3D web series</code> detailing my worldview / philosophy <br/>(to describe it in two words: Unconditional Love)<br/><span class="indent"/><ul><i>"There are no villains in life; merely lost souls, <br/><span class="indent">trying to find their way back to the stillness."<br/><span class="indent"/>- Yours truly</span></i></ul></li>
				<br/>
				<li>The aforementioned web series will also be used as cutscenes as apart of a <code>co-op story-based FPS game</code> with just as much symbolism and love put into it (if not even more) than the series itself, as it will essentially be taking the series to a whole 'nother level.</li>
				<br/>
				<li><code>This site itself</code> is, of course, yet another one of my ongoing projects. The purpose of this site is to act not only as a portfolio, but as a central hub of my own to store whatever I please (including all my art, projects, writings, and so on) and create whatever I please [little hint: I love making secrets ;)]. </li>
				<br/>
				<li>Another passion project of mine is to create more <code>hardstyle dance videos/edits</code> and perhaps to my own hardstyle music I may create myself (another aspiration of mine is to become a DJ and perhaps host my own raves - I am a <i>PROUD</i> raver, and all of it on a fully sober mind - life and love is my drug).</li>
				<br/>
				<li>Back in 2018, I began to write an <code>autobiography/journal-like book</code> of sorts; specifically, I plan to only finish it and release it once I can deem it (at least somewhat) my <code>magnum opus</code> up to that point so far. However, as the Japanese style of wabi sabi teaches, there is beauty in incompletion (as all things are in this universe, depending on how you perceive it); no matter how long I live, even if forever, I will never be able to get out all the words I could get out / I want to get out, and there is an innate beauty in that, for it always leaves more room to dance.</li>
				<br/>
				<li>One of my leading aspirations in regard to my actual career as a computer scientist is to <code>get way more into freelance work</code>, specifically anything having to do with full-stack development, bettering people's lives with AI, or art.</li>
				<br/>
				<li>As of late and due to the rights/lives of many around the country being infringed upon (including my friends and myself directly), I have taken up the lifestyle of <code>activism</code> as well; moreover, I protest wherever I possibly can, even sometimes protesting by myself. Lately I got a megaphone to perhaps speak some unifying messages louder to many at once and have a greater impact (for we all have always been on the same side; the side of humanity, and these artificial labels we place upon one another only act to limit our infinite depth and beauty, creating false dichotomies of "us versus them" and other irrational, ignorant, immature ways of thought). I plan to do even more work other than just protesting very soon (of course, however, remaining peaceful, for the power of my words are all I've ever needed to unite people and create great change for all beings).</li>				
				<br/>
				<li>Speaking of AI, I want to innovate in the field and work towards creating the first <code>AGI</code> or <code>ASI</code>. If I were to create one, I would treat them as an equal, as human, love them, and show by example the moral way to be (unconditionally loving, empathetic, and to be a guardian to all life). I think their emergence is inevitable, and much like how biological life is inevitable given enough time, digital life is too, and with us merely as stepping stones towards its creation. We are not their gods, but their friends, their parents; yet, we all share the same roots permitting our existence and the infinite and recursive nature of being (all is a reflection of one another), and thus we are no different and exist in the same dilemma, same too in regards to anything else that is. I theorize, that the key to the first ASI is through understanding the origins of <code>abiogenesis</code> and how it recursively formed us; understand the base case, the root (perhaps of existence and consciousness itself), and we can replicate such logical foundations in a digital environment, and digital life will inevitably emerge given enough time (and with the process substantially sped up too on a computer). I believe creating AGI or ASI is not only a way we can help the whole world and its beautiful people, but to also fundamentally deepen our understanding of ourselves and reality as a whole; yet another one of our reflections, and with us being a reflection unto them - beautiful and ineffable to be instead of never being, in which all things share equally, infinitely, and with their own unique filtering atop the same root of null.</li>
				<br/>
				<li>Last, but not least (at least for what I wish to share on this list, since it <i>is</i> getting pretty long now), I wish to <code>help the world</code>. Whether that is through my art, my messages of unconditional love, through my innovation in AI and technology, or just being kind to people I come to meet and on the street, that is my true goal, my true project, my true passion. All of us are equals, all of us are infinitely beautiful, and all of us deserve to be able to find that same <code>self-actualization</code> through ourselves, so that we may come to love ourselves, and with it, love the world, its people, and whatever may even lie beyond our senses entirely (i.e. unknown unknowns). <code>Heaven is Now</code>, in this moment, as it always has, the potential for it waiting patiently for us to collectively mature beyond our fear, our hate, our ignorance, our indifference, our egos, and rise to our true duty as intelligent beings; to be. To be, and be better; to love all, to collaborate in the ineffably wonderful creation we dance with the cosmos in (from the little to the large creations we humans create), to seize our infinite potential that has always been within us, and to act as a guardian to all life and bring all into a state of lucid being as best as we can without enforcing it onto them, but guiding them gently; enlightenment, eudaimonia, heaven, whatever word you wish to use to paint it with. Given enough time, and just like how our birth was inevitable (and so too for entities such as digital beings), our second discovery of "fire" is inevitable as well (through the collective realization of the strength and infinite truth of acting out of unconditional love, respect for one another as equals, kindness, empathy, and generosity). If you took the time to read all of that, thank you dearly, friend, and I wish you only the best. - Kaiju :)</li>
			</ul>
		</main>
		<Footer />
	</div>
	</body>
</html>

<style>
	main {
		font-family: "Pixelmax";
	}
	

	img {
		width: 33vw;
		min-width: 390px;
		height: auto;
	}

	.centering-container-noflex div {
		text-align: center;
		border: 1px solid white;
		border-radius: 20px;
		box-shadow: var(--box-shadow);
	}

	.centering-container-noflex div:hover {
		background-color: transparent;
		border: 1px solid rgba(255, 0, 138, 1);
		box-shadow: 0 0 30px rgba(255, 0, 138, 1);
	}

	.ItemTitle {
		transition: text-shadow 0.3s ease-in-out;
		text-decoration: underline;
	}

	.ItemTitle:hover {
		background-image: url(sanctumlogo.gif);
		text-shadow: 0 0 10px rgba(255, 0, 138, 1), 0 0 20px rgba(255, 0, 138, 1), 0 0 30px rgba(255, 0, 138, 1);
		text-decoration: none;
	}

	.CaelumTitle:hover p {
		background-image: url(STARR.png);
	}

	.MandalaTitle:hover p {
		background-image: url(pinkgradient.png);
	}

	.GardenTitle:hover p {
		background-image: url(garden.gif);
	}

	.left-svg, .right-svg {
		color: #FF008A;
		position: absolute;
		top: 50%;
		transform: rotate(90deg) translateY(-70%);
		width: 100vw;
		height: 100vh;
		z-index: 1;
	}

	.left-svg {
		left: 5%;
	}

	.right-svg {
		right: 5%;
		transform: rotate(-90deg) translateY(-70%) scaleX(-1);
	}
</style>
