---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import InstaLogo from "./logos/Insta.astro";
import YouTubeLogo from "./logos/YouTube.astro";
import GithubLogo from "./logos/Github.astro";
import SiteLogo from "./logos/SiteLogo.astro";
---

<header>
	<nav>
		<div class = "left">
			<h2><a href="/"><SiteLogo/></a></h2>
		</div>
		<div class = "middle">
			<div class="internal-links">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Projects</HeaderLink>
				<HeaderLink href="/journal">Journal</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</div>
		<div class = "right">
			<div class="social-links">
				<a href="https://www.instagram.com/iokaiju" target="_blank">
					<span class="sr-only">Go to Kaiju's Instagram</span>
					<InstaLogo/>
				</a>
				<a href="https://www.youtube.com/@K4IJU" target="_blank">
					<span class="sr-only">Go to the K4IJU YouTube channel</span>
					<YouTubeLogo/>
				</a>
				<a href="https://github.com/Lukkex" target="_blank">
					<span class="sr-only">Go to Lukkex's GitHub repo</span>
					<GithubLogo/>
				</a>
			</div>
		</div>
	</nav>
</header>
<style>
	.left {
		flex: 1;
		display: flex;
		align-items: left;
		justify-content: left;
	}

	.middle {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.right {
		flex: 1;
		display: flex;
		align-items: right;
		justify-content: right;
	}

	header {
		margin: 0;
		padding: 0 1em;
		background-image: linear-gradient(var(--black-gradient));
		border: 1px solid rgba(255, 255, 255, 0.137);
		border-bottom-left-radius: 3vw;
		border-bottom-right-radius: 3vw;
		box-shadow: 10px 10px 20px rgba(var(--black), 100%);
		z-index: 2;
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
		font-size: 1.5vw;
		font-family: '3Dkirieji', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		color: var(--white);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		transition: text-shadow 0.3s ease-in-out;
	}

	nav a:hover {
		text-shadow: 0 0 10px rgba(255, 0, 138, 1), 0 0 20px rgba(255, 0, 138, 1), 0 0 30px rgba(255, 0, 138, 1);
	}

	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
		animation: glowing 2s linear infinite;
	}

	/* Styles for phones */
	@media only screen and (max-width: 768px) {
		/* Mobile-specific styles :3 */
		.left {
			flex: 1;
			width: 1/4vw;
			display: flex;
			align-items: left;
			justify-content: left;
			transform: translateX(30px);
		}

		.middle {
			flex: 1;
			width: 3/4vw;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.right {
			width: 3/4vw;
			
		}

		.right div {
			display: none;
		}

		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		nav a {
		padding: 1em 0.5em;
		font-size: 10px;
		font-family: '3Dkirieji', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		color: var(--white);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		}

		h2 {
			width: 20vw;
			height: auto;
		}
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
