---
import Image from "astro:assets";
import sanctumLogo from "../sanctumlogostill.gif";
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import InstaLogo from "./logos/Insta.astro";
import YouTubeLogo from "./logos/YouTube.astro";
import GithubLogo from "./logos/Github.astro";
import SiteLogo from "./logos/SiteLogo.astro";
---

<header class="stick">
	<div class="mobile-logo centering-container">
		<a href="/"><img src={sanctumLogo.src} width="200"/></a>
	</div>
	<nav>
		<div class = "left">
			<h2><a href="/"><SiteLogo/></a></h2>
		</div>
		<div class = "desktop">
			<div class = "middle">
				<div class="internal-links">
					<HeaderLink href="/">Home</HeaderLink>
					<HeaderLink href="/journal">Journal</HeaderLink>
					<HeaderLink href="/blog">Projects</HeaderLink>
					<HeaderLink href="/videos">Videos</HeaderLink>
					<HeaderLink href="/about">About</HeaderLink>
				</div>
			</div>
		</div>
		<div class = "mobile">
			<div class = "middle mobile">
				<div class="internal-links">
					<HeaderLink href="/">HOME</HeaderLink>
					<HeaderLink href="/journal">JOURNAL</HeaderLink>
					<HeaderLink href="/blog">PROJECTS</HeaderLink>
					<HeaderLink href="/videos">VIDEOS</HeaderLink>
					<HeaderLink href="/about">ABOUT</HeaderLink>
				</div>
			</div>
		</div>
		<div class = "right">
			<div class="social-links">
				<a href="https://www.instagram.com/iokaiju" target="_blank">
					<span class="sr-only">Go to Kaiju's Instagram</span>
					<InstaLogo/>
				</a>
				<a href="https://www.youtube.com/@K4IJU" target="_blank">
					<span class="sr-only">Go to the K4IJU YouTube channel</span>
					<YouTubeLogo/>
				</a>
			</div>
		</div>
	</nav>
</header>
<style>
	.mobile-logo {
		display: none;
	}

	.mobile{
		display: none;
	}

	.desktop{
		display: contents;
	}

	.left {
		flex: 1;
		display: flex;
		align-items: left;
		justify-content: left;
	}

	.middle {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.right {
		flex: 1;
		display: flex;
		align-items: right;
		justify-content: right;
	}

	header {
		margin: 0;
		padding: 0 1em;
		background-image: linear-gradient(var(--black-gradient));
		border: 1px solid rgba(255, 255, 255, 0.137);
		border-bottom-left-radius: 3vw;
		border-bottom-right-radius: 3vw;
		box-shadow: 10px 10px 20px rgba(var(--black), 100%);
		z-index: 20;
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 0.3em 0.25vw;
		font-size: 1.3vw;
		font-family: '3Dkirieji', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		color: var(--white);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		transition: text-shadow 0.3s ease-in-out;
	}

	nav a:hover {
		text-shadow: 0 0 10px rgba(255, 0, 138, 1), 0 0 20px rgba(255, 0, 138, 1), 0 0 30px rgba(255, 0, 138, 1);
	}

	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
		animation: glowing 2s linear infinite;
	}

	/* Styles for phones */
	@media only screen and (max-width: 685px) {
		/* Mobile-specific styles :3 */
		.mobile-logo {
			display:flex;
			padding-top: 20px;
			width: auto;
			height: 9vh;
		}

		.desktop {
			display: none;
		}

		.mobile {
			display: contents;
		}

		.left {
			flex: 0;
			width: 1/8vw
			display: flex;
			align-items: left;
			justify-content: left;
			transform: translateX(-20px);
		}

		.middle {
			flex: 1;
			padding-top: 0px;
			width: 100vw;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.right {
			flex: 0;
			width: 1/8vw
		}

		.right div {
			display: none;
		}

		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		nav a {
		padding: 1em 0.15em;
		font-size: 2.5vw;
		font-weight: 800;
		font-family: 'PixelPurl', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		color: var(--white);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		}

		nav .middle {
			border-radius: 10px;
			padding-left: 1em;
			padding-right: 1em;
		}

		h2 {
			display: none;
		}

		.social-links {
			display: none;
		}

		header {
		margin: 0;
		padding: 0 1em;
		background-image: linear-gradient(var(--black-gradient));
		border: 1px solid rgba(255, 255, 255, 0.336);
		border-top: none;
		border-bottom-left-radius: 8vw;
		border-bottom-right-radius: 8vw;
		box-shadow: 10px 10px 20px rgba(var(--black), 100%);
		z-index: 2;
	}
	}
	.social-links,
	.social-links a {
		display: flex;
	}

</style>
